.table-container {
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: auto;
  margin-top: 0;
}

.table {
  border-radius: 7px;
  border: 2px solid #94a3b8;
  border-bottom: none;
  background-color: #1e1e30;
  padding-left: 0;
  min-width: 845px;
  list-style: none;
}

.table-header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #94a3b8;
}

.states-ut-sort {
  display: flex;
  align-items: center;
  flex-basis: 20%;
  color: #f8fafc;
}

.states-ut {
  font-weight: 700;
}

.sort-button {
  background: transparent;
  border-width: 0;
  color: #f8fafc;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.table-header-title {
  flex-basis: 15.5%;
  text-align: right;
  color: #f8fafc;
  font-weight: 700;
  font-size: 16px;
}

.table-row {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #94a3b8;
}

.table-row:hover {
  background-color: #94a3b820;
}

.state-name {
  flex-basis: 16%;
  color: #f8fafc;
}

.cases-number {
  flex-basis: 16%;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.confirmed {
  color: #ff073a;
}

.active {
  color: #007bff;
}

.recovered {
  color: #28a745;
}

.deceased {
  color: #6c757d;
}

.population {
  color: #94a3b8;
}

.link-item {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .table-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
